*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  background-color: #ddd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40%;
  height: 80%;
}

h1 {
  font-size: 3rem;
}

form {
  border: 2px solid black;
  margin: 0 1rem;
  padding: 1rem;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  input[type="text"] {
    width: 80%;
  }
}

ul {
  margin: 1rem;
  border: 2px solid black;
  height: 80%;
}

li {
  font-size: 2rem;
  padding: 1rem;
  list-style: none;
  cursor: pointer;
  display: inline-block;
}

li::before {
  content: "\2192 \00a0";
}
